data_copy
data/*/*
data/*.csv
processed_data/*
results/*
env_local.yml
.vscode
.pytest_cache
.ipynb_checkpoints
__pycache__
.DS_Store
!.gitkeep

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg

.snakemake
